In [1]:
import random
import pandas as pd

In [2]:
df = pd.read_csv('all_clips.txt',header=None)

In [3]:
df.head()

                           0
0   5yo_vs_Mickey_slice0.mp4
1  5yo_vs_Mickey_slice10.mp4
2  5yo_vs_Mickey_slice15.mp4
3  5yo_vs_Mickey_slice20.mp4
4   5yo_vs_Mickey_slice5.mp4

In [4]:
df.shape

(5290, 1)

In [5]:
df.rename(columns={0:'clip_title'},inplace=True)

In [6]:
df['labeler'] = "TBD"
df['class'] = 99

In [7]:
df.head()

                  clip_title labeler  class
0   5yo_vs_Mickey_slice0.mp4     TBD     99
1  5yo_vs_Mickey_slice10.mp4     TBD     99
2  5yo_vs_Mickey_slice15.mp4     TBD     99
3  5yo_vs_Mickey_slice20.mp4     TBD     99
4   5yo_vs_Mickey_slice5.mp4     TBD     99

In [46]:
n = int(input())

6

In [104]:
random.seed(42)

In [105]:
clip_range = range(0,df.shape[0])

In [132]:
week6 = random.sample(clip_range,k=1000)
jen = sorted(week6[0:250])
ahsen = sorted(week6[250:500])
lance = sorted(week6[500:750])
alex = sorted(week6[750:1000])

In [133]:
jen_clips = df.iloc[jen,:]
jen_clips['labeler'] = 'Jen'
jen_clips.shape

/root/w210/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(250, 3)

In [134]:
jen_clips.to_csv('jen_clips.csv',header=True,index=True)

In [135]:
ahsen_clips = df.iloc[ahsen,:]
ahsen_clips['labeler'] = 'Ahsen'
ahsen_clips.to_csv('ahsen_clips.csv',header=True,index=True)

/root/w210/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [137]:
lance_clips = df.iloc[lance,:]
lance_clips['labeler'] = 'Lance'
lance_clips.to_csv('lance_clips.csv',header=True,index=True)

/root/w210/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [143]:
lance_clips.head()

                                  clip_title labeler  class
12   Australian_flash_mob_dance_slice125.mp4   Lance     99
43   Australian_flash_mob_dance_slice265.mp4   Lance     99
133      French_flashmob_circle_slice150.mp4   Lance     99
134      French_flashmob_circle_slice155.mp4   Lance     99
155      French_flashmob_circle_slice250.mp4   Lance     99

In [144]:
ahsen_clips.head()

                                 clip_title labeler  class
62   Australian_flash_mob_dance_slice85.mp4   Ahsen     99
63   Australian_flash_mob_dance_slice90.mp4   Ahsen     99
149     French_flashmob_circle_slice225.mp4   Ahsen     99
153     French_flashmob_circle_slice245.mp4   Ahsen     99
170     French_flashmob_circle_slice320.mp4   Ahsen     99

In [139]:
alex_clips = df.iloc[alex,:]
alex_clips['labeler'] = 'Alex'
alex_clips.to_csv('alex_clips.csv',header=True,index=True)

/root/w210/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [142]:
alex_clips.head()

                              clip_title labeler  class
66                   ByronBay_slice0.mp4    Alex     99
136  French_flashmob_circle_slice165.mp4    Alex     99
189   French_flashmob_circle_slice65.mp4    Alex     99
232            HShackeysack_slice255.mp4    Alex     99
248            HShackeysack_slice330.mp4    Alex     99

In [126]:
from ipywidgets import Video, Image
!jupyter nbextension list

Known nbextensions:
  config dir: /root/w210/etc/jupyter/nbconfig
    notebook section
      jupyter-js-widgets/extension  enabled
      - Validating: OK
      jupyter-video/extension  enabled
      - Validating: OK

In [127]:
def show_vid(n):
    print(df.iloc[n].clip_title)
    video = Video.from_file('/root/vids/' + df.iloc[n].clip_title)
    return video

In [128]:
def label_vid(n):
#     print(f"**{df.iloc[n]['class']}**".format())
    print(f"{df.iloc[n]['class']} is the current class of {df.iloc[n]['clip_title']}".format())
    print("""Record a new class by entering one of the below responses
        [-1] exclude
        [0] no punch
        [1] violent punch contact
        [2] violent punch no-contact
        [3] non-violent punch contact
        [4] non-violent punch no-contact
        [99] STOP
    """)
    user_label = int(input())
    return user_label

In [130]:
# This is not showing the video; may need to be separate cell for the nbextension.
# for i in range(len(jen_clips)):
#     show_vid(i)
#     new_value = label_vid(i)
#     if new_value == 99:
#         break
#     else:
#         jen_clips.iloc[i]['class'] = new_value
    
# jen_clips.to_csv('jen_clips.csv',header=True,index=True)

5yo_vs_Mickey_slice0.mp4
99 is the current class of 5yo_vs_Mickey_slice0.mp4
Record a new class by entering one of the below responses
        [-1] exclude
        [0] no punch
        [1] violent punch contact
        [2] violent punch no-contact
        [3] non-violent punch contact
        [4] non-violent punch no-contact
        [99] STOP

98

/root/w210/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

5yo_vs_Mickey_slice10.mp4
99 is the current class of 5yo_vs_Mickey_slice10.mp4
Record a new class by entering one of the below responses
        [-1] exclude
        [0] no punch
        [1] violent punch contact
        [2] violent punch no-contact
        [3] non-violent punch contact
        [4] non-violent punch no-contact
        [99] STOP

99

In [78]:
show_vid(4931)

streetfight5_slice230.mp4

Video(value=b'\x00\x00\x00 ftypisom\x00\x00\x02\x00isomiso2avc1mp41\x00\x00\x00\x08free\x00\x0c\x16%mdat\x00\xâ€¦