In [4]:
import random
import pandas as pd

In [95]:
df = pd.read_csv('all_clips.txt',header=None)

In [3]:
df.head()

                           0
0   5yo_vs_Mickey_slice0.mp4
1  5yo_vs_Mickey_slice10.mp4
2  5yo_vs_Mickey_slice15.mp4
3  5yo_vs_Mickey_slice20.mp4
4   5yo_vs_Mickey_slice5.mp4

In [4]:
df.shape

(5290, 1)

In [5]:
df.rename(columns={0:'clip_title'},inplace=True)

In [6]:
df['labeler'] = "TBD"
df['class'] = 99

In [7]:
df.head()

                  clip_title labeler  class
0   5yo_vs_Mickey_slice0.mp4     TBD     99
1  5yo_vs_Mickey_slice10.mp4     TBD     99
2  5yo_vs_Mickey_slice15.mp4     TBD     99
3  5yo_vs_Mickey_slice20.mp4     TBD     99
4   5yo_vs_Mickey_slice5.mp4     TBD     99

In [46]:
n = int(input())

6

In [8]:
random.seed(42)

In [9]:
clip_range = range(0,df.shape[0])

In [10]:
week6 = random.sample(clip_range,k=1000)
# jen = sorted(week6[0:250])
# ahsen = sorted(week6[250:500])
# lance = sorted(week6[500:750])
# alex = sorted(week6[750:1000])

# This section was added week 11 to assign out the rest of the videos

In [2]:
!ls -laht

total 2.5M
drwxr-xr-x  5 root root 4.0K Nov  3 21:38  .
-rw-r--r--  1 root root  46K Nov  3 21:38  ClipAssigner.ipynb
drwxr-xr-x  8 root root 4.0K Nov  3 21:27  .git
-rw-r--r--  1 root root 217K Nov  3 21:27  week11_all_assigned.csv
-rw-r--r--  1 root root  660 Nov  3 21:27  rename_vids.py
-rw-r--r--  1 root root  277 Nov  3 21:27  rescale_vids.sh
-rw-r--r--  1 root root 8.6K Nov  3 21:27  simple_CNN-LSTM_net.py
drwx------ 18 root root 4.0K Nov  3 21:27  ..
-rw-r--r--  1 root root  38K Nov  3 21:05  jend_week11_labeling_assignment.csv
-rw-r--r--  1 root root  80K Nov  2 22:50  Joiner.ipynb
-rw-r--r--  1 root root 204K Nov  2 22:40  week10_labeled.csv
-rw-r--r--  1 root root 5.6K Nov  2 17:35 "Ahsen's MovieHouseMcLabelMore.ipynb"
-rw-r--r--  1 root root 8.5K Nov  2 17:34  ahsen_week9_clips.csv
-rw-r--r--  1 root root 5.6K Oct 30 22:48 "Lance's MovieHouseMcLabelMore.ipynb"
-rw-r--r--  1 root root 8.0K Oct 30 22:47  lance_week9_clips.csv
-rw-r--r--  1 root root 205K Oct 30 02:13  week9_labeled.csv
drwxr-xr-x  3 root root 4.0K Oct 29 02:44  eval
-rw-r--r--  1 root root 5.7K Oct 27 19:04 "JenD's MovieHouseMcLabelMore.ipynb"
-rw-r--r--  1 root root 8.0K Oct 27 19:04  jen_week9_clips.csv
-rw-r--r--  1 root root 2.2K Oct 27 00:40  importFromIBM.py
-rw-r--r--  1 root root  32K Oct 27 00:40  simple_CNN-LSTM_net.ipynb
-rw-r--r--  1 root root 5.7K Oct 27 00:38 "Alex's MovieHouseMcLabelMore.ipynb"
-rw-r--r--  1 root root 7.9K Oct 27 00:38  alex_week9_clips.csv
-rw-r--r--  1 root root 205K Oct 23 03:54  week9_all_clips.csv
-rw-r--r--  1 root root  36K Oct 22 01:56  first_1k_labeled_long_vids_removed.csv
-rw-r--r--  1 root root 2.5K Oct 21 02:34  AWOL_labeled_videos.csv
drwxr-xr-x  2 root root 4.0K Oct 21 01:03  .ipynb_checkpoints
-rw-r--r--  1 root root 147K Oct 21 00:43  week9_inventory.txt
-rw-r--r--  1 root root 1.3K Oct 20 20:43  .gitignore
-rw-r--r--  1 root root  685 Oct 20 20:43  sliceVid_onBatch.sh
-rw-r--r--  1 root root 4.5K Oct 19 01:23  importFromIBM.ipynb
-rw-r--r--  1 root root 160K Oct 19 00:47  did_not_label_in_week6.csv
-rw-r--r--  1 root root 681K Oct 15 02:53  stock-photo-fight-in-a-football-game-crowd-angry-man-hitting-another-spectator-in-soccer-match-audience-1009607794.jpg
-rw-r--r--  1 root root  11K Oct  8 01:36  full_labels.csv
-rw-r--r--  1 root root  38K Oct  8 01:32  first_1k_labeled.csv
-rw-r--r--  1 root root  11K Oct  7 05:16  ahsen_clips.csv
-rw-r--r--  1 root root 9.8K Oct  6 20:55  jen_clips.csv
-rw-r--r--  1 root root  11K Oct  6 16:48  lance_clips.csv
-rw-r--r--  1 root root  11K Oct  6 10:57  alex_clips.csv
-rw-r--r--  1 root root  785 Oct  5 20:13  convertCodec.sh
-rw-r--r--  1 root root  15K Oct  5 01:32  ClassCharacterization.ipynb
-rw-r--r--  1 root root 135K Oct  2 02:07  all_clips.txt
-rw-r--r--  1 root root 3.0K Sep 30 02:16  readVideo.ipynb
-rw-r--r--  1 root root  478 Sep 29 01:51  multiSlice.py
-rw-r--r--  1 root root  651 Sep 27 01:45  sliceVid.sh
-rw-r--r--  1 root root 2.1K Sep 26 11:42  README.md
-rw-r--r--  1 root root  818 Sep 26 10:33  readVideo.py
-rw-r--r--  1 root root  960 Sep 26 10:33  requirements.txt

In [5]:
df = pd.read_csv("week11_all_assigned.csv",header=0,index_col=0,\
                 dtype={'clip_title': str, 'labeler': str, 'class': 'Int32'} )

In [6]:
df.head()

                                 clip_title labeler  class
video-UID
10000       5yo_vs_Mickey_slice0_slice0.mp4    Alex     99
10001      5yo_vs_Mickey_slice10_slice0.mp4    Alex     99
10002      5yo_vs_Mickey_slice15_slice0.mp4    Alex     99
10003             5yo_vs_Mickey_slice20.mp4   Ahsen      0
10004              5yo_vs_Mickey_slice5.mp4     Jen      0

In [7]:
df.shape

(5441, 3)

In [8]:
df['labeler'].value_counts()

Jen      1371
Alex     1362
Lance    1355
Ahsen    1353
Name: labeler, dtype: int64

In [101]:
unassigned = df[df['labeler'].isna()]['labeler']

In [102]:
mine = unassigned[jen]
mine[:]='Jen'

alexs = unassigned[alex] 
alexs[:]='Alex'

lances = unassigned[lance]
lances[:]='Lance'

ahsens = unassigned[ahsen]
ahsens[:]='Ahsen'

In [103]:
unassigned.value_counts()

Series([], Name: labeler, dtype: int64)

In [107]:
ahsens.head()

video-UID
10494    Ahsen
11909    Ahsen
14642    Ahsen
15098    Ahsen
14064    Ahsen
Name: labeler, dtype: object

In [109]:
df.update(mine)
df['labeler'].value_counts()

Jen      1371
Alex      439
Lance     432
Ahsen     430
Name: labeler, dtype: int64

In [114]:
df.update(ahsens)

In [115]:
df['labeler'].value_counts()

Jen      1371
Alex     1362
Lance    1355
Ahsen    1353
Name: labeler, dtype: int64

In [18]:
una_vuids = list(unassigned.index)

In [19]:
len(una_vuids)

3692

In [28]:
len(una_vuids)/4

923.0

In [20]:
una_vuids[0:10]

[10000, 10001, 10002, 10005, 10006, 10007, 10008, 10010, 10011, 10014]

In [24]:
random.seed(42)

In [26]:
shuna_vuids = random.sample(una_vuids, k=len(una_vuids))

In [27]:
shuna_vuids[0:10]

[15083, 10164, 13463, 10487, 12351, 12434, 10091, 14592, 12443, 11478]

In [35]:
jen = shuna_vuids[0:923]
ahsen = shuna_vuids[923:1846]
lance = shuna_vuids[1846:2769]
alex = shuna_vuids[2769:]

In [117]:
df.sample(20)

                                        clip_title labeler  class
video-UID
11343                       NV_992.mp4_slice40.mp4   Ahsen     99
10497                                   NV_252.mp4   Ahsen     99
10660                                   NV_398.mp4   Lance      0
880                                     NV_618.mp4    Alex      0
10856                                   NV_575.mp4    Alex      0
15283             teen_punches_officer_slice75.mp4   Ahsen     99
10718                                    NV_45.mp4     Jen     99
13604           how_to_punch_7_basics_slice140.mp4    Alex     99
11997                                     V_44.mp4   Lance      1
4306        street_confrontation_punch_slice85.mp4    Alex      0
218                      HShackeysack_slice195.mp4   Lance      0
1220                                    NV_924.mp4    Alex      0
3689          how_to_strike_max_power_slice750.mp4    Alex      4
14138               perfect_hook_punch_slice10.mp4    Alex     99
12633                                    V_952.mp4   Ahsen     99
3019       female_makeup_artist_client_slice20.mp4     Jen      0
13006         downward_strike_punches_slice720.mp4   Ahsen     99
11840                                    V_302.mp4     Jen      1
14597                     streetfight1_slice60.mp4     Jen      1
14979                    streetfight4_slice280.mp4     Jen     99

In [118]:
sum(df['labeler'].isna())

0

In [119]:
df.to_csv('week11_all_assigned.csv')

In [9]:
df[(df['labeler']=='Jen') & (df['class']==99) ].to_csv('jend_week11_labeling_assignment.csv')

In [13]:
df[(df['labeler']=='Alex') & (df['class']==99) ].to_csv('alex_week11_labeling_assignment.csv')

In [16]:
df[(df['labeler']=='Lance') & (df['class']==99) ].to_csv('lance_week11_labeling_assignment.csv')

In [19]:
df[(df['labeler']=='Ahsen') & (df['class']==99) ].to_csv('ahsen_week11_labeling_assignment.csv')

In [22]:
!ls . | grep _week11

ahsen_week11_labeling_assignment.csv
alex_week11_labeling_assignment.csv
jend_week11_labeling_assignment.csv
lance_week11_labeling_assignment.csv

In [24]:
!git status

On branch master
Your branch is up to date with 'origin/master'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   Ahsen's MovieHouseMcLabelMore.ipynb
	modified:   ClipAssigner.ipynb
	modified:   JenD's MovieHouseMcLabelMore.ipynb
	modified:   Lance's MovieHouseMcLabelMore.ipynb
	modified:   eval/EvalTheatre.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	AWOL_labeled_videos.csv
	ahsen_week11_labeling_assignment.csv
	alex_week11_labeling_assignment.csv
	jend_week11_labeling_assignment.csv
	lance_week11_labeling_assignment.csv

no changes added to commit (use "git add" and/or "git commit -a")

In [126]:
!git add week11_all_assigned.csv

In [127]:
!git commit -m "assign out rest of videos"

[master bee6ef8] assign out rest of videos
 Committer: root <root@bittah-ninja.capstone.cloud>
Your name and email address were configured automatically based
on your username and hostname. Please check that they are accurate.
You can suppress this message by setting them explicitly:

    git config --global user.name "Your Name"
    git config --global user.email you@example.com

After doing this, you may fix the identity used for this commit with:

    git commit --amend --reset-author

 1 file changed, 5442 insertions(+)
 create mode 100644 week11_all_assigned.csv

In [129]:
!git push origin master

Counting objects: 9, done.
Delta compression using up to 8 threads.
Compressing objects: 100% (9/9), done.
Writing objects: 100% (9/9), 50.60 KiB | 2.98 MiB/s, done.
Total 9 (delta 5), reused 0 (delta 0)
remote: Resolving deltas: 100% (5/5), completed with 4 local objects.
To https://github.com/ahsenq/bittah-ninja.git
   803a37d..bee6ef8  master -> master

# This section was added week 8 to parse out the unlabled set of videos

In [22]:
sorted(week6)[0:10]

[3, 4, 9, 13, 17, 21, 26, 29, 45, 48]

In [11]:
ul = df.drop(week6)

In [12]:
ul.shape

(4290, 3)

In [13]:
ul.head()

                               clip_title labeler  class
0                5yo_vs_Mickey_slice0.mp4     TBD     99
1               5yo_vs_Mickey_slice10.mp4     TBD     99
2               5yo_vs_Mickey_slice15.mp4     TBD     99
5   Australian_flash_mob_dance_slice0.mp4     TBD     99
6  Australian_flash_mob_dance_slice10.mp4     TBD     99

In [16]:
ul.index.name = 'video-UID'

In [17]:
ul.to_csv('did_not_label_in_week6.csv',header=True,index=True)

In [19]:
ul[ul['labeler']!='TBD'].shape

(0, 3)

In [25]:
len(set(ul.index).intersection(set(week6)))

0

# Below was used for assigning out the first 1K in week 6

In [133]:
jen_clips = df.iloc[jen,:]
jen_clips['labeler'] = 'Jen'
jen_clips.shape

/root/w210/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(250, 3)

In [134]:
jen_clips.to_csv('jen_clips.csv',header=True,index=True)

In [135]:
ahsen_clips = df.iloc[ahsen,:]
ahsen_clips['labeler'] = 'Ahsen'
ahsen_clips.to_csv('ahsen_clips.csv',header=True,index=True)

/root/w210/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [137]:
lance_clips = df.iloc[lance,:]
lance_clips['labeler'] = 'Lance'
lance_clips.to_csv('lance_clips.csv',header=True,index=True)

/root/w210/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [143]:
lance_clips.head()

                                  clip_title labeler  class
12   Australian_flash_mob_dance_slice125.mp4   Lance     99
43   Australian_flash_mob_dance_slice265.mp4   Lance     99
133      French_flashmob_circle_slice150.mp4   Lance     99
134      French_flashmob_circle_slice155.mp4   Lance     99
155      French_flashmob_circle_slice250.mp4   Lance     99

In [144]:
ahsen_clips.head()

                                 clip_title labeler  class
62   Australian_flash_mob_dance_slice85.mp4   Ahsen     99
63   Australian_flash_mob_dance_slice90.mp4   Ahsen     99
149     French_flashmob_circle_slice225.mp4   Ahsen     99
153     French_flashmob_circle_slice245.mp4   Ahsen     99
170     French_flashmob_circle_slice320.mp4   Ahsen     99

In [139]:
alex_clips = df.iloc[alex,:]
alex_clips['labeler'] = 'Alex'
alex_clips.to_csv('alex_clips.csv',header=True,index=True)

/root/w210/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [142]:
alex_clips.head()

                              clip_title labeler  class
66                   ByronBay_slice0.mp4    Alex     99
136  French_flashmob_circle_slice165.mp4    Alex     99
189   French_flashmob_circle_slice65.mp4    Alex     99
232            HShackeysack_slice255.mp4    Alex     99
248            HShackeysack_slice330.mp4    Alex     99

In [126]:
from ipywidgets import Video, Image
!jupyter nbextension list

Known nbextensions:
  config dir: /root/w210/etc/jupyter/nbconfig
    notebook section
      jupyter-js-widgets/extension  enabled
      - Validating: OK
      jupyter-video/extension  enabled
      - Validating: OK

In [127]:
def show_vid(n):
    print(df.iloc[n].clip_title)
    video = Video.from_file('/root/vids/' + df.iloc[n].clip_title)
    return video

In [128]:
def label_vid(n):
#     print(f"**{df.iloc[n]['class']}**".format())
    print(f"{df.iloc[n]['class']} is the current class of {df.iloc[n]['clip_title']}".format())
    print("""Record a new class by entering one of the below responses
        [-1] exclude
        [0] no punch
        [1] violent punch contact
        [2] violent punch no-contact
        [3] non-violent punch contact
        [4] non-violent punch no-contact
        [99] STOP
    """)
    user_label = int(input())
    return user_label

In [130]:
# This is not showing the video; may need to be separate cell for the nbextension.
# for i in range(len(jen_clips)):
#     show_vid(i)
#     new_value = label_vid(i)
#     if new_value == 99:
#         break
#     else:
#         jen_clips.iloc[i]['class'] = new_value
    
# jen_clips.to_csv('jen_clips.csv',header=True,index=True)

5yo_vs_Mickey_slice0.mp4
99 is the current class of 5yo_vs_Mickey_slice0.mp4
Record a new class by entering one of the below responses
        [-1] exclude
        [0] no punch
        [1] violent punch contact
        [2] violent punch no-contact
        [3] non-violent punch contact
        [4] non-violent punch no-contact
        [99] STOP

98

/root/w210/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

5yo_vs_Mickey_slice10.mp4
99 is the current class of 5yo_vs_Mickey_slice10.mp4
Record a new class by entering one of the below responses
        [-1] exclude
        [0] no punch
        [1] violent punch contact
        [2] violent punch no-contact
        [3] non-violent punch contact
        [4] non-violent punch no-contact
        [99] STOP

99

In [78]:
show_vid(4931)

streetfight5_slice230.mp4

Video(value=b'\x00\x00\x00 ftypisom\x00\x00\x02\x00isomiso2avc1mp41\x00\x00\x00\x08free\x00\x0c\x16%mdat\x00\x