### This ONLY works with jupyter notebook (NOT lab)

In [ ]:
my_clips = "jen_clips.csv"
from ipywidgets import Video, Image # run ```!jupyter nbextension list``` to verify config
import pandas as pd
df = pd.read_csv(my_clips, header=0,index_col=0)
line, clip = df[df['class']==99].head(1).index[0], df[df['class']==99].head(1)['clip_title'].iloc[0]
video = Video.from_file('/root/vids/' + clip)
video

In [ ]:
print("0 = no punch && -1 = EXCLUDE",'\n',"1 = violent punch contact && 2 = violent punch none",'\n',\
     "3 = non-violent punch contact && 4 = non-violent punch none",'\n',f"????? ------{clip}----- ?????".format())
label = int(input())
df.at[line,'class'] = label
df.to_csv(my_clips,header=True)

In [170]:
df[df['class']==4].shape

(7, 4)

I had 46 violent punches with contact, 2 violent punches no contact, 6 non-violent punch with contact, and 7 non-violent punches minus contact

In [174]:
df.groupby('class').agg({'class': 'count'})

       class
class
-1         5
 0       184
 1        46
 2         2
 3         6
 4         7

In [175]:
jen_summary = df.groupby('class').agg({'class': 'count'})

In [178]:
jen_summary['pct'] = jen_summary.apply(lambda x: x['class']/df.shape[0],axis=1)

In [179]:
jen_summary

       class    pct
class
-1         5  0.020
 0       184  0.736
 1        46  0.184
 2         2  0.008
 3         6  0.024
 4         7  0.028

In [4]:
all = "first_1k_labeled.csv"
import pandas as pd
from ipywidgets import Video, Image # run ```!jupyter nbextension list``` to verify config

df = pd.read_csv(all, header=0,index_col=1)

In [8]:
df.shape

(1000, 4)

In [16]:
clip = df[df['labeler']=='Ahsen'][df['class']==1].sample()['clip_title'].iloc[0]
video = Video.from_file('/root/vids/' + clip)
video

/root/w210/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Video(value=b'\x00\x00\x00 ftypisom\x00\x00\x02\x00isomiso2avc1mp41\x00\x00\x00\x08free\x00\x07\xf5+mdat\x00\xâ€¦

In [9]:
overall = df.groupby(['class']).agg({'clip_title':'count'})

In [10]:
overall

       clip_title
class
-1             31
 0            707
 1            170
 2              8
 3             51
 4             33

In [17]:
df.head()

           Unnamed: 0                               clip_title labeler  class
video-UID
23                  0  Australian_flash_mob_dance_slice175.mp4     Jen      0
50                  1   Australian_flash_mob_dance_slice30.mp4     Jen      0
114                 2                     ByronBay_slice75.mp4     Jen      0
121                 3       French_flashmob_circle_slice10.mp4     Jen      0
129                 4      French_flashmob_circle_slice135.mp4     Jen      0

In [18]:
df.columns

Index(['Unnamed: 0', 'clip_title', 'labeler', 'class'], dtype='object')

In [19]:
df.drop(columns='Unnamed: 0',inplace=True)

In [21]:
df.sort_values(by=['video-UID'],inplace=True)

In [22]:
df.head()

                                        clip_title labeler  class
video-UID
12         Australian_flash_mob_dance_slice125.mp4   Lance      0
23         Australian_flash_mob_dance_slice175.mp4     Jen      0
43         Australian_flash_mob_dance_slice265.mp4   Lance      0
50          Australian_flash_mob_dance_slice30.mp4     Jen      0
62          Australian_flash_mob_dance_slice85.mp4   Ahsen      0

In [23]:
df.tail()

                                   clip_title labeler  class
video-UID
5271       women_fight_smoke_shop_slice40.mp4   Ahsen      0
5281                wvu_dance_cam_slice30.mp4   Ahsen      0
5282                wvu_dance_cam_slice35.mp4     Jen      0
5285                 wvu_dance_cam_slice5.mp4   Lance      0
5287                wvu_dance_cam_slice55.mp4   Ahsen      0

In [24]:
df.groupby(['class']).agg({'clip_title':'count'})

       clip_title
class
-1             31
 0            707
 1            170
 2              8
 3             51
 4             33

In [26]:
df.shape

(1000, 3)

In [27]:
df.to_csv(all,header=True)