In [3]:
import numpy as np
import pandas as pd
import random

In [6]:
!ls -lah

total 2.7M
drwxr-xr-x  6 root root 4.0K Nov 17 23:35  .
drwx------ 20 root root 4.0K Nov 17 23:36  ..
drwxr-xr-x  8 root root 4.0K Nov 17 23:35  .git
-rw-r--r--  1 root root 1.3K Oct 20 20:43  .gitignore
drwxr-xr-x  2 root root 4.0K Nov 11 01:02  .ipynb_checkpoints
-rw-r--r--  1 root root 2.5K Oct 21 02:34  AWOL_labeled_videos.csv
-rw-r--r--  1 root root 5.9K Nov 17 22:22 "Ahsen's MovieHouseMcLabelMore.ipynb"
-rw-r--r--  1 root root 5.9K Nov 17 23:12 "Alex's MovieHouseMcLabelMore.ipynb"
-rw-r--r--  1 root root 7.8K Nov 12 20:34  CNN_singleImage_baseline.py
-rw-r--r--  1 root root  50K Nov 12 20:34  CNN_single_baseline.ipynb
-rw-r--r--  1 root root  15K Oct  5 01:32  ClassCharacterization.ipynb
-rw-r--r--  1 root root  50K Nov  4 03:06  ClipAssigner.ipynb
-rw-r--r--  1 root root 9.2K Nov 11 05:34  Countdown_to_truthiness.ipynb
-rw-r--r--  1 root root 6.4K Nov 17 21:49  CustomAnnotationsAndFolderStructure-Alex.ipynb
-rw-r--r--  1 root root 5.5K Nov 11 05:08 "JenD's MovieHouseMcLabelMore.ipynb"
-rw-r--r--  1 root root  90K Nov 17 23:28  Joiner.ipynb
-rw-r--r--  1 root root 2.1K Nov 17 20:46 "Lance's MovieHouseMcLabelMore.ipynb"
-rw-r--r--  1 root root 2.1K Sep 26 11:42  README.md
-rw-r--r--  1 root root  11K Oct  7 05:16  ahsen_clips.csv
-rw-r--r--  1 root root  37K Nov 17 22:22  ahsen_week11_labeling_assignment.csv
-rw-r--r--  1 root root 8.5K Nov  2 17:34  ahsen_week9_clips.csv
-rw-r--r--  1 root root  11K Oct  6 10:57  alex_clips.csv
-rw-r--r--  1 root root  37K Nov 17 23:12  alex_week11_labeling_assignment.csv
-rw-r--r--  1 root root 7.9K Oct 27 00:38  alex_week9_clips.csv
-rw-r--r--  1 root root 135K Oct  2 02:07  all_clips.txt
-rw-r--r--  1 root root  20K Nov 12 20:34  baseline_model_prediction.ipynb
-rw-r--r--  1 root root  785 Oct  5 20:13  convertCodec.sh
-rw-r--r--  1 root root 160K Oct 19 00:47  did_not_label_in_week6.csv
drwxr-xr-x  3 root root 4.0K Nov 17 23:16  eval
-rw-r--r--  1 root root  38K Oct  8 01:32  first_1k_labeled.csv
-rw-r--r--  1 root root  36K Oct 22 01:56  first_1k_labeled_long_vids_removed.csv
-rw-r--r--  1 root root  11K Oct  8 01:36  full_labels.csv
-rw-r--r--  1 root root 4.5K Oct 19 01:23  importFromIBM.ipynb
-rw-r--r--  1 root root 2.2K Oct 27 00:40  importFromIBM.py
-rw-r--r--  1 root root 9.8K Oct  6 20:55  jen_clips.csv
-rw-r--r--  1 root root 8.0K Oct 27 19:04  jen_week9_clips.csv
-rw-r--r--  1 root root  37K Nov 11 05:08  jend_week11_labeling_assignment.csv
-rw-r--r--  1 root root  11K Oct  6 16:48  lance_clips.csv
-rw-r--r--  1 root root  39K Nov 17 20:47  lance_week11_labeling_assignment.csv
-rw-r--r--  1 root root 8.0K Oct 30 22:47  lance_week9_clips.csv
-rw-r--r--  1 root root  478 Sep 29 01:51  multiSlice.py
-rw-r--r--  1 root root 3.0K Sep 30 02:16  readVideo.ipynb
-rw-r--r--  1 root root  818 Sep 26 10:33  readVideo.py
-rw-r--r--  1 root root  660 Nov  3 21:27  rename_vids.py
-rw-r--r--  1 root root  960 Sep 26 10:33  requirements.txt
-rw-r--r--  1 root root  277 Nov  3 21:27  rescale_vids.sh
-rw-r--r--  1 root root  49K Nov 11 05:16  simple_CNN-LSTM_net.ipynb
-rw-r--r--  1 root root 8.8K Nov 17 21:49  simple_CNN-LSTM_net.py
-rw-r--r--  1 root root  651 Sep 27 01:45  sliceVid.sh
-rw-r--r--  1 root root  685 Oct 20 20:43  sliceVid_onBatch.sh
drwxr-xr-x  2 root root 4.0K Nov 17 23:35  stash
-rw-r--r--  1 root root 681K Oct 15 02:53  stock-photo-fight-in-a-football-game-crowd-angry-man-hitting-another-spectator-in-soccer-match-audience-1009607794.jpg
-rw-r--r--  1 root root 204K Nov  2 22:40  week10_labeled.csv
-rw-r--r--  1 root root 216K Nov 14 02:35  week11_all_assigned.csv
-rw-r--r--  1 root root 205K Oct 23 03:54  week9_all_clips.csv
-rw-r--r--  1 root root 147K Oct 21 00:43  week9_inventory.txt
-rw-r--r--  1 root root 205K Oct 30 02:13  week9_labeled.csv

In [12]:
df = pd.read_csv('week11_all_assigned.csv',header=0,index_col=0)

In [13]:
df.head()

                                 clip_title labeler  class
video-UID
10000       5yo_vs_Mickey_slice0_slice0.mp4    Alex      0
10001      5yo_vs_Mickey_slice10_slice0.mp4    Alex      0
10002      5yo_vs_Mickey_slice15_slice0.mp4    Alex      0
10003             5yo_vs_Mickey_slice20.mp4   Ahsen      0
10004              5yo_vs_Mickey_slice5.mp4     Jen      0

In [10]:
df.shape

(5441, 4)

In [14]:
df['class'].value_counts()

 99    2506
 0     2141
 1      505
 3      132
 4       76
-1       59
 2       22
Name: class, dtype: int64

In [15]:
lm = pd.read_csv('lance_week11_labeling_assignment.csv', header=0,index_col=0,\
                 dtype={'clip_title': str, 'labeler': str, 'class': 'Int64'} )

In [16]:
lm.head()

                                        clip_title labeler  class
video-UID
10005        Australian_flash_mob_dance_slice0.mp4   Lance     -1
10014      Australian_flash_mob_dance_slice135.mp4   Lance      0
10019      Australian_flash_mob_dance_slice155.mp4   Lance      0
10032      Australian_flash_mob_dance_slice215.mp4   Lance      0
10033      Australian_flash_mob_dance_slice220.mp4   Lance      0

In [17]:
lm['class'].value_counts()

 0    593
 1    232
 3     48
-1     24
 4     20
 2      6
Name: class, dtype: int64

In [18]:
df.update(lm)

In [19]:
df['class'].value_counts()

 0     2734
 99    1583
 1      737
 3      180
 4       96
-1       83
 2       28
Name: class, dtype: int64

In [20]:
aq = pd.read_csv('ahsen_week11_labeling_assignment.csv', header=0,index_col=0,\
                 dtype={'clip_title': str, 'labeler': str, 'class': 'Int64'} )

In [21]:
aq.head()

                                        clip_title labeler  class
video-UID
10018      Australian_flash_mob_dance_slice150.mp4   Ahsen      0
10022      Australian_flash_mob_dance_slice170.mp4   Ahsen      0
10024      Australian_flash_mob_dance_slice180.mp4   Ahsen      0
10025      Australian_flash_mob_dance_slice185.mp4   Ahsen      0
10028       Australian_flash_mob_dance_slice20.mp4   Ahsen      0

In [22]:
aq['class'].value_counts()

 0    631
 1    164
-1     57
 3     34
 4     25
 2     12
Name: class, dtype: int64

In [23]:
df.update(aq)

In [24]:
df['class'].value_counts()

 0     3365
 1      901
 99     660
 3      214
-1      140
 4      121
 2       40
Name: class, dtype: int64

In [25]:
ad = pd.read_csv('alex_week11_labeling_assignment.csv', header=0,index_col=0,\
                 dtype={'clip_title': str, 'labeler': str, 'class': 'Int64'} )

In [26]:
ad.head()

                                        clip_title labeler  class
video-UID
10000              5yo_vs_Mickey_slice0_slice0.mp4    Alex      0
10001             5yo_vs_Mickey_slice10_slice0.mp4    Alex      0
10002             5yo_vs_Mickey_slice15_slice0.mp4    Alex      0
10006       Australian_flash_mob_dance_slice10.mp4    Alex      0
10007      Australian_flash_mob_dance_slice100.mp4    Alex      0

In [27]:
ad['class'].value_counts()

 0    667
 1    156
 3     52
 4     26
 2     12
-1     10
Name: class, dtype: int64

In [28]:
df.update(ad)

In [37]:
df['class'].value_counts().sort_index()

-1     144
 0    3783
 1    1049
 2      52
 3     266
 4     147
Name: class, dtype: int64

In [30]:
sum(df['class'].value_counts().loc[[1,2,3,4]])

1514

In [31]:
sum(df['class'].value_counts().loc[[0,1,2,3,4]])

5297

In [32]:
sum(df['class'].value_counts().loc[[1,2,3,4]])/sum(df['class'].value_counts().loc[[0,1,2,3,4]])

0.2858221634887672

In [33]:
sum(df['class'].value_counts())

5441

In [34]:
sum(df['class'].value_counts().loc[[0,1,2,3,4]])/sum(df['class'].value_counts())

0.9735342767873553

In [38]:
df.to_csv("ground_truth.csv",header=True,index=True)