In [25]:
import numpy as np
import pandas as pd
import random

In [ ]:
!ls -lah

In [2]:
df = pd.read_csv('week9_inventory.txt',header=None)

In [3]:
df.rename(columns={0:'clip_title'},inplace=True)

In [4]:
df.head()

                             clip_title
0   5yo_vs_Mickey_slice0.mp4_slice0.mp4
1  5yo_vs_Mickey_slice10.mp4_slice0.mp4
2  5yo_vs_Mickey_slice15.mp4_slice0.mp4
3             5yo_vs_Mickey_slice20.mp4
4              5yo_vs_Mickey_slice5.mp4

In [5]:
df.shape

(5441, 1)

In [7]:
gold = pd.read_csv('first_1k_labeled_long_vids_removed.csv',header=0,index_col=0)

In [8]:
gold.head()

                                        clip_title labeler  label
video-UID
12         Australian_flash_mob_dance_slice125.mp4   Lance      0
23         Australian_flash_mob_dance_slice175.mp4     Jen      0
43         Australian_flash_mob_dance_slice265.mp4   Lance      0
50          Australian_flash_mob_dance_slice30.mp4     Jen      0
62          Australian_flash_mob_dance_slice85.mp4   Ahsen      0

In [9]:
gold.shape

(946, 3)

In [10]:
gold.reset_index(inplace=True)

In [11]:
gold.columns

Index(['video-UID', 'clip_title', 'labeler', 'label'], dtype='object')

In [12]:
sum(pd.notna(gold['video-UID']))

946

In [13]:
gold.set_index('clip_title',inplace=True)

In [14]:
gold.index

Index(['Australian_flash_mob_dance_slice125.mp4',
       'Australian_flash_mob_dance_slice175.mp4',
       'Australian_flash_mob_dance_slice265.mp4',
       'Australian_flash_mob_dance_slice30.mp4',
       'Australian_flash_mob_dance_slice85.mp4',
       'Australian_flash_mob_dance_slice90.mp4', 'ByronBay_slice0.mp4',
       'ByronBay_slice75.mp4', 'French_flashmob_circle_slice10.mp4',
       'French_flashmob_circle_slice135.mp4',
       ...
       'women_fight_smoke_shop_slice0.mp4',
       'women_fight_smoke_shop_slice10.mp4',
       'women_fight_smoke_shop_slice20.mp4',
       'women_fight_smoke_shop_slice30.mp4',
       'women_fight_smoke_shop_slice35.mp4',
       'women_fight_smoke_shop_slice40.mp4', 'wvu_dance_cam_slice30.mp4',
       'wvu_dance_cam_slice35.mp4', 'wvu_dance_cam_slice5.mp4',
       'wvu_dance_cam_slice55.mp4'],
      dtype='object', name='clip_title', length=946)

In [15]:
df.set_index('clip_title',inplace=True)

In [16]:
joined = df.join(gold)

In [17]:
joined.columns

Index(['video-UID', 'labeler', 'label'], dtype='object')

In [18]:
sum(pd.notna(joined['video-UID']))

915

In [74]:
joined.head()

                                      video-UID labeler  label
clip_title
5yo_vs_Mickey_slice0.mp4_slice0.mp4         NaN     NaN    NaN
5yo_vs_Mickey_slice10.mp4_slice0.mp4        NaN     NaN    NaN
5yo_vs_Mickey_slice15.mp4_slice0.mp4        NaN     NaN    NaN
5yo_vs_Mickey_slice20.mp4                   NaN     NaN    NaN
5yo_vs_Mickey_slice5.mp4                    NaN     NaN    NaN

In [75]:
joined['label'].value_counts()

0.0    691
1.0    134
3.0     51
4.0     33
2.0      6
Name: label, dtype: int64

In [104]:
# informed_mystery.to_csv('AWOL_labeled_videos.csv')

In [94]:
sum(pd.notna(joined['video-UID']))

915

In [19]:
sum(pd.isna(joined['video-UID']))

4526

In [78]:
gold[gold['label']==-1].shape

(31, 3)

In [79]:
gold['label'].value_counts()

 0    691
 1    134
 3     51
 4     33
-1     31
 2      6
Name: label, dtype: int64

In [80]:
joined['label'].value_counts()

0.0    691
1.0    134
3.0     51
4.0     33
2.0      6
Name: label, dtype: int64

In [91]:
joined.sample(10)

                                  video-UID labeler  label
clip_title
outdoorHShackeysack_slice175.mp4        NaN     NaN    NaN
short_strikes_slice385.mp4              NaN     NaN    NaN
V_175.mp4                               NaN     NaN    NaN
rugby_downward_punch_slice55.mp4        NaN     NaN    NaN
hook_punch_power_slice105.mp4           NaN     NaN    NaN
heavy_bag_drills_slice250.mp4           NaN     NaN    NaN
NV_844.mp4                           1131.0    Alex    0.0
V_308.mp4_slice0.mp4                    NaN     NaN    NaN
V_885.mp4_slice0.mp4                    NaN     NaN    NaN
traditional_dance_slice615.mp4       5250.0    Alex    0.0

In [20]:
joined.reset_index(inplace=True)

In [21]:
joined.head()

                             clip_title  video-UID labeler  label
0   5yo_vs_Mickey_slice0.mp4_slice0.mp4        NaN     NaN    NaN
1  5yo_vs_Mickey_slice10.mp4_slice0.mp4        NaN     NaN    NaN
2  5yo_vs_Mickey_slice15.mp4_slice0.mp4        NaN     NaN    NaN
3             5yo_vs_Mickey_slice20.mp4        NaN     NaN    NaN
4              5yo_vs_Mickey_slice5.mp4        NaN     NaN    NaN

In [22]:
joined.index.rename('numerical',inplace=True)

In [36]:
joined.sample(20)

,numerical,clip_title,video-UID,labeler,label,new-UID
4583,4583,streetfight1_slice535.mp4,NaN,NaN,NaN,14583.0
4131,4131,parents_hip_hop_slice75.mp4,NaN,NaN,NaN,14131.0
1207,1207,NV_888.mp4,NaN,NaN,NaN,11207.0
714,714,NV_446.mp4,NaN,NaN,NaN,10714.0
2988,2988,downward_strike_punches_slice640.mp4,NaN,NaN,NaN,12988.0
3334,3334,greek_hooligans_vol_1__PAETHRAKI__ymAyfKkdSVU....,NaN,NaN,NaN,13334.0
4851,4851,streetfight3_slice275.mp4,NaN,NaN,NaN,14851.0
645,645,NV_383.mp4,NaN,NaN,NaN,10645.0
241,241,HShackeysack_slice270.mp4,NaN,NaN,NaN,10241.0
3231,3231,football_crowds_cheering__Hamburg_Fan_Party_Op...,NaN,NaN,NaN,13231.0
1136,1136,NV_823.mp4,NaN,NaN,NaN,11136.0
2362,2362,V_771.mp4_slice0.mp4,NaN,NaN,NaN,12362.0
933,933,NV_644.mp4,NaN,NaN,NaN,10933.0
1613,1613,US_NC_asheville_drum_circle_slice900.mp4,NaN,NaN,NaN,11613.0
5014,5014,streetfight4_slice440.mp4,NaN,NaN,NaN,15014.0
2997,2997,downward_strike_punches_slice680.mp4,2862.0,Ahsen,0.0,2862.0
5328,5328,traditional_dance_slice280.mp4,5175.0,Lance,0.0,5175.0
1759,1759,V_226.mp4_slice0.mp4,NaN,NaN,NaN,11759.0
2442,2442,V_789.mp4_slice45.mp4,NaN,NaN,NaN,12442.0
2398,2398,V_789.mp4_slice180.mp4,NaN,NaN,NaN,12398.0

In [24]:
joined.reset_index(inplace=True)

In [27]:
joined.head()

,numerical,clip_title,video-UID,labeler,label,new-UID
0,0,5yo_vs_Mickey_slice0.mp4_slice0.mp4,NaN,NaN,NaN,10000
1,1,5yo_vs_Mickey_slice10.mp4_slice0.mp4,NaN,NaN,NaN,10001
2,2,5yo_vs_Mickey_slice15.mp4_slice0.mp4,NaN,NaN,NaN,10002
3,3,5yo_vs_Mickey_slice20.mp4,NaN,NaN,NaN,10003
4,4,5yo_vs_Mickey_slice5.mp4,NaN,NaN,NaN,10004

In [105]:
# np.isnan(joined['video-UID'].iloc[0])

True

In [26]:
joined['new-UID'] = joined.apply(lambda x: x['numerical']+10000, axis=1)

In [29]:
import numpy as np

In [30]:
joined['new-UID'] = joined.apply(lambda x: x['new-UID'] if np.isnan(x['video-UID']) else x['video-UID'], axis = 1)

In [41]:
joined.drop('numerical',axis=1,inplace=True)

In [43]:
joined.drop('video-UID',axis=1,inplace=True)

In [44]:
joined.rename({'new-UID':'video-UID'},axis=1,inplace=True)

In [54]:
joined['label'] = joined.apply(lambda x: 99 if np.isnan(x['label']) else x['label'], axis = 1)

In [55]:
joined['label'].value_counts()

99.0    4526
0.0      691
1.0      134
3.0       51
4.0       33
2.0        6
Name: label, dtype: int64

In [61]:
np.isnan(joined['labeler'].head().iloc[0])

True

In [62]:
joined.head()

                             clip_title labeler  label  video-UID
0   5yo_vs_Mickey_slice0.mp4_slice0.mp4     NaN   99.0    10000.0
1  5yo_vs_Mickey_slice10.mp4_slice0.mp4     NaN   99.0    10001.0
2  5yo_vs_Mickey_slice15.mp4_slice0.mp4     NaN   99.0    10002.0
3             5yo_vs_Mickey_slice20.mp4     NaN   99.0    10003.0
4              5yo_vs_Mickey_slice5.mp4     NaN   99.0    10004.0

In [63]:
joined['label2'] = joined.apply(lambda x: int(x['label']), axis=1)

In [64]:
joined['video-UID2'] = joined.apply(lambda x: int(x['video-UID']), axis=1)

In [65]:
joined.drop('video-UID',axis=1,inplace=True)

In [66]:
joined.drop('label',axis=1,inplace=True)

In [67]:
joined.head()

                             clip_title labeler  label2  video-UID2
0   5yo_vs_Mickey_slice0.mp4_slice0.mp4     NaN      99       10000
1  5yo_vs_Mickey_slice10.mp4_slice0.mp4     NaN      99       10001
2  5yo_vs_Mickey_slice15.mp4_slice0.mp4     NaN      99       10002
3             5yo_vs_Mickey_slice20.mp4     NaN      99       10003
4              5yo_vs_Mickey_slice5.mp4     NaN      99       10004

In [71]:
joined.rename({'label2':'label'},axis=1,inplace=True)

In [72]:
joined.rename({'video-UID2':'video-UID'},axis=1,inplace=True)

In [73]:
joined.head()

                             clip_title labeler  label  video-UID
0   5yo_vs_Mickey_slice0.mp4_slice0.mp4     NaN     99      10000
1  5yo_vs_Mickey_slice10.mp4_slice0.mp4     NaN     99      10001
2  5yo_vs_Mickey_slice15.mp4_slice0.mp4     NaN     99      10002
3             5yo_vs_Mickey_slice20.mp4     NaN     99      10003
4              5yo_vs_Mickey_slice5.mp4     NaN     99      10004

In [75]:
joined['labeler'].value_counts()

Jen      235
Alex     231
Lance    230
Ahsen    219
Name: labeler, dtype: int64

In [76]:
joined['video-UID'].tail()

5436     5285
5437    15437
5438     5287
5439    15439
5440    15440
Name: video-UID, dtype: int64

In [77]:
random.seed(42)

In [78]:
clip_range = range(10000,15441)

In [97]:
15440-10000

5440

In [79]:
week9 = random.sample(clip_range,k=1000)

In [80]:
jen9 = sorted(week9[0:250])
ahsen9 = sorted(week9[250:500])
lance9 = sorted(week9[500:750])
alex9 = sorted(week9[750:1000])

# Below was used for assigning out the second 1K in week 9

In [82]:
len(jen9)

250

In [83]:
joined['labeler'] = joined.apply(lambda x: 'Jen' if x['video-UID'] in jen9 else x['labeler'], axis = 1)

In [99]:
joined['labeler'] = joined.apply(lambda x: 'Alex' if x['video-UID'] in alex9 else x['labeler'], axis = 1)

In [100]:
joined['labeler'] = joined.apply(lambda x: 'Ahsen' if x['video-UID'] in ahsen9 else x['labeler'], axis = 1)

In [101]:
joined['labeler'] = joined.apply(lambda x: 'Lance' if x['video-UID'] in lance9 else x['labeler'], axis = 1)

In [104]:
joined[(joined['labeler']=='Alex') & (joined['label']==99)].shape

(208, 4)

In [105]:
joined[(joined['labeler']=='Alex') & (joined['label']==99)].head(10)

,clip_title,labeler,label,video-UID
9,Australian_flash_mob_dance_slice110.mp4,Alex,99,10009
21,Australian_flash_mob_dance_slice165.mp4,Alex,99,10021
100,ByronBay_slice225.mp4,Alex,99,10100
112,ByronBay_slice45.mp4,Alex,99,10112
115,ByronBay_slice55.mp4,Alex,99,10115
169,French_flashmob_circle_slice290.mp4,Alex,99,10169
267,HShackeysack_slice390.mp4,Alex,99,10267
300,Hooligans_violence__Football_hooligans_Reading...,Alex,99,10300
357,NV_127.mp4,Alex,99,10357
372,NV_14.mp4,Alex,99,10372

In [106]:
joined.set_index('video-UID',inplace=True)

In [108]:
joined.rename({'label':'class'},axis=1,inplace=True)

In [110]:
joined[(joined['labeler']=='Jen') & (joined['class']==99)].to_csv('jen_week9_clips.csv',header=True,index=True)

In [111]:
joined[(joined['labeler']=='Ahsen') & (joined['class']==99)].to_csv('ahsen_week9_clips.csv',header=True,index=True)

In [112]:
joined[(joined['labeler']=='Alex') & (joined['class']==99)].to_csv('alex_week9_clips.csv',header=True,index=True)

In [113]:
joined[(joined['labeler']=='Lance') & (joined['class']==99)].to_csv('lance_week9_clips.csv',header=True,index=True)

In [114]:
joined.to_csv('week9_all_clips.csv',header=True,index=True)

Fold in labels from Jen & Alex

In [51]:
w9 = pd.read_csv('week9_all_clips.csv',header=0,index_col=0,\
                 dtype={'clip_title': str, 'labeler': str, 'class': 'Int32'} )

In [8]:
# w9.shape

(5441, 3)

In [9]:
# w9.columns

Index(['clip_title', 'labeler', 'class'], dtype='object')

In [45]:
jd = pd.read_csv('jen_week9_clips.csv', header=0,index_col=0,\
                 dtype={'clip_title': str, 'labeler': str, 'class': 'Int32'} )

In [47]:
jd.dtypes

clip_title    object
labeler       object
class          Int32
dtype: object

In [52]:
w9['class'].value_counts()

99    4526
0      691
1      134
3       51
4       33
2        6
Name: class, dtype: int64

In [48]:
jd['class'].value_counts()

 0    141
 1     48
 3     14
 4      5
 2      4
-1      1
Name: class, dtype: int64

In [53]:
w9.update(jd)

In [54]:
w9['class'].value_counts()

 99    4313
 0      832
 1      182
 3       65
 4       38
 2       10
-1        1
Name: class, dtype: int64

In [55]:
ad = pd.read_csv('alex_week9_clips.csv', header=0,index_col=0,\
                 dtype={'clip_title': str, 'labeler': str, 'class': 'Int32'} )

In [56]:
ad['class'].value_counts()

 0    157
 1     42
 4      4
 3      3
 2      1
-1      1
Name: class, dtype: int64

In [57]:
w9.update(ad)

In [63]:
w9['class'].value_counts()

 99    4105
 0      989
 1      224
 3       68
 4       42
 2       11
-1        2
Name: class, dtype: int64

In [64]:
w9.to_csv('week9_labeled.csv')

In [65]:
stats = w9['class'].value_counts()

In [70]:
type(stats)

pandas.core.series.Series

In [74]:
stats[2:-1].sum()/stats[1:-1].sum()

0.25862068965517243

In [ ]:
stats['pct'] =