In [1]:
!ls

MakeyFakey.ipynb  fake.csv

In [3]:
pretend = 'fake.csv'
import pandas as pd
df = pd.read_csv(pretend,header=0,index_col=0)

In [4]:
df.head()

                                        clip_title labeler  class
video-UID
12         Australian_flash_mob_dance_slice125.mp4   Lance      0
23         Australian_flash_mob_dance_slice175.mp4     Jen      0
43         Australian_flash_mob_dance_slice265.mp4   Lance      0
50          Australian_flash_mob_dance_slice30.mp4     Jen      0
62          Australian_flash_mob_dance_slice85.mp4   Ahsen      0

In [5]:
df.drop(columns=['clip_title','labeler'],inplace=True)

In [6]:
df.head()

           class
video-UID
12             0
23             0
43             0
50             0
62             0

In [12]:
df['class'].value_counts()

 0    707
 1    170
 3     51
 4     33
-1     31
 2      8
Name: class, dtype: int64

In [21]:
!conda list scikit-learn

# packages in environment at /root/anaconda3:
#
# Name                    Version                   Build  Channel
scikit-learn              0.21.2           py37hd81dba3_0

In [23]:
import sklearn

ModuleNotFoundError: No module named 'sklearn'

In [24]:
df.index

Int64Index([  12,   23,   43,   50,   62,   63,   66,  114,  121,  129,
            ...
            5264, 5265, 5267, 5269, 5270, 5271, 5281, 5282, 5285, 5287],
           dtype='int64', name='video-UID', length=1000)

In [25]:
df.to_csv(pretend,header=0)

In [26]:
!head fake.csv

12,0
23,0
43,0
50,0
62,0
63,0
66,0
114,0
121,0
129,0

In [27]:
!tail fake.csv

5264,0
5265,1
5267,1
5269,0
5270,1
5271,0
5281,0
5282,0
5285,0
5287,0